<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>M_Cube</title>
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
  <template id="uiParts">
    <div id="rTriger" class="ui ui-label">
      <h2>Main</h2>
      <p>R-Triger</p>
    </div>
    <div id="rButton" class="ui ui-label">
      <h2>Sub</h2>
      <p>R-Button</p>
    </div>
    <div id="dive" class="ui　ui-label">
      <h2>Dive</h2>
      <p>L-Triger</p>
    </div>
    <div id="color" class="ui ui-label">
      <h2>Color: #<span class="color">6464ff</span></h2>
      <p><s>L-Button</s></p>
    </div>
    <div id="lStick" class="ui ui-label">
      <h2>Move</h2>
      <p>↑L-Stick↓</p>
    </div>
    <div id="rStick" class="ui ui-label">
      <h2>Roll</h2>
      <p>←R-Stick→</p>
    </div>
    <div id="view" class="ui ui-label">
      <h2 class="mode">Bird's Eye</h2><p class="parts">R-Stick Press</p>
    </div>
  </template>
  <template id="gmParts">
    <ul class="ui team-data">
      <li>
        <div id="blueTeam" class="ui-label team-data-label">
          <h2>Blue:<span>0%</span></h2>
          <p>0人</p>
        </div>
      </li>
      <li>
        <div id="redTeam" class="ui-label team-data-label">
          <h2>Red:<span>0%</span></h2>
          <p>0人</p>
        </div>
      </li>
      <li>
        <div id="yellowTeam" class="ui-label team-data-label">
          <h2>yellow:<span>0%</span></h2>
          <p>0人</p>
        </div>
      </li>
      <li>
        <div id="greenTeam" class="ui-label team-data-label">
          <h2>Green:<span>0%</span></h2>
          <p>0人</p>
        </div>
      </li>
    </ul>
    <!-- TODO: 時間はplayer側にも必要と思われる -->
    <div id="timeDisplay" class="ui ui-label timer">
      <h2>0:00</h2>
      <p>Ready?</p>
    </div>
  </template>
  <script src="./js/vendor/three.js"></script>
  <script src="./js/config.js"></script>
  <script src="./js/object.js"></script>
  <script src="./js/ui.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const map = '%%MAP%%';
    const scene = new THREE.Scene();
    scene.background = new THREE.Color( 0x000000 );
    const floorY = 0.5;
    let canBomb = true;
    let bombTimer = 0;

    let balls = []; // 発射されたボールを保持
    let padList = []; // 接続されているゲームパッドを保持
    let objects = []; // 他のユーザーを保持

    let pressed = {
      lButton: false,
      rButton: false,
      rTriger: false,
      lTriger: false,
      bButton: false,
      // xButton: false, // マップの編集をしないから使わなくていい
      rStick: false,
      backButton: false,
      startButton: false,
    }
    let tilted = {
      lStickV: 0,
      lStickH: 0,
      rStickV: 0,
      rStickH: 0,
    }

    let cubes = [];
    for (let i = 0; i <= 100; i++) {
      let array = [];
      for (let j = 0; j <= 100; j++) {
        if(map[i][j] === '1') {
          const cube = new Block({x:j - 50, y: floorY, z: i - 50});
          scene.add(cube.mesh);
          array.push(cube);
        } else {
          array.push(false);
        }
      }
      cubes.push(array);
    }

    let isDiveMode = false;
    
    let cameraDistance = 8;

    let currentState = viewMode.birdsEye; 
    let weapon = weaponMode.main;

    const cameraBaseHeight = 20;
    const cameraEditHeight = 70;

    // DEBUG
    const gridHelper = new THREE.GridHelper(1000, 1000);
    gridHelper.position.y = 1;
    // scene.add(gridHqelper);

    // ライトを付けます
    const ambientLight = new THREE.AmbientLight( 0xffffff );
		scene.add(ambientLight);

    // TODO: ライトと影，つける？

    
    // 描画用の部品を作って
    const renderer = new THREE.WebGLRenderer({
        alpha: true
    });
    renderer.shadowMap.enabled = true;
    renderer.setSize( window.innerWidth, window.innerHeight );
    document.body.appendChild( renderer.domElement ); // 画面に部品を登録します
    
    // カメラを作って
    const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 10000 );
    camera.position.set(0, cameraBaseHeight, 0); // カメラを上（y方向）に飛ばして
    camera.lookAt(new THREE.Vector3(0,0,0)); // 下（原点）を見る
    scene.add(camera); // シーンに登録します

    // マップを描画するための部品を作って
    const mapRenderer = new THREE.WebGLRenderer({
        alpha: true
    });
    mapRenderer.setSize( window.innerWidth, window.innerHeight );
    mapRenderer.domElement.id = 'map';
    // Step.5 画面に部品を登録します　document.body.appendChild( mapRenderer.domElement );
    document.body.appendChild( mapRenderer.domElement ); 
    mapRenderer.domElement.style.width = "250px"; // マップを表示するパーツなのでちっさくしましょう
    mapRenderer.domElement.style.height = "250px";

    // マップを表示するためのカメラも作って
    const mapCamera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 10000 );
    mapCamera.position.set(0, 30, 0);
    mapCamera.lookAt(new THREE.Vector3(0, 0, 0));
    scene.add(mapCamera); // シーンに登録しよう
    

    // player
    const colorIndex = 0;
    const colorList = [color.player1, color.player2, color.player3, color.player4]
    const player = new Player({x: 3, y: floorY, z: 3}, colorList[0]);
    scene.add(player.mesh);

    // wall TODO: 本陣の設置はここで。


    // Floor　床（平面）を作ろう
    const floor = new Floor(color.floor);
    scene.add( floor.mesh ); // やっぱりシーンに追加する

    function isPlayerArea(player) {
      const position = player.mesh.position;
      const c = new THREE.Color();
      c.setHex(player.color.splash);
      const a = 1;
      const baseIndex = ((Math.floor(position.x) + 50) * 24) + (((Math.floor(position.z)) + 50) * 2400);

      let index = baseIndex - 2400 - 24;
      for (let i = index; i < index + ((6 * 4) * 2); i += 4) {
        if (floor.colors[i + 0] !== c.r) return false;
        if (floor.colors[i + 1] !== c.g) return false;
        if (floor.colors[i + 2] !== c.b) return false;
      }
      index = baseIndex - 24;
      for (let i = index; i < index + ((6 * 4) * 2); i += 4) {
        if (floor.colors[i + 0] !== c.r) return false;
        if (floor.colors[i + 1] !== c.g) return false;
        if (floor.colors[i + 2] !== c.b) return false;
      }

      return true;
    }
    function areaCheck() {
      let colors = [];
      for(let i = 0; i < colorList.length; i++) {
        const c = new THREE.Color();
        c.setHex(colorList[i].splash);
        colors.push(c);
      }
      
      let total = 0;
      let blues = 0;
      let reds = 0;
      let yellows = 0;
      let greens = 0;
      // TODO: 色の確認から再開
      for (let i = 0; i < floor.colors.length; i += 4) {
        total++;

        if(colors[0].r === floor.colors[i] && colors[0].g === floor.colors[i + 1] && colors[0].b === floor.colors[i + 2]) blues++;
        else if(colors[1].r === floor.colors[i] && colors[1].g === floor.colors[i + 1] && colors[1].b === floor.colors[i + 2]) reds++;
        else if(colors[2].r === floor.colors[i] && colors[2].g === floor.colors[i + 1] && colors[2].b === floor.colors[i + 2]) yellows++;
        else if(colors[3].r === floor.colors[i] && colors[3].g === floor.colors[i + 1] && colors[3].b === floor.colors[i + 2]) greens++;  
      }
      // TODO: 塗りきったら１００％になるか確認
      document.querySelector('#blueTeam h2 span').innerHTML =(blues / total * 100).toFixed(2) + "%";
      document.querySelector('#redTeam h2 span').innerHTML = (reds / total * 100).toFixed(2) + "%";
      document.querySelector('#yellowTeam h2 span').innerHTML = (yellows / total * 100).toFixed(2) + "%";
      document.querySelector('#greenTeam h2 span').innerHTML = (greens / total * 100).toFixed(2) + "%"; 
    }

    function splash(position, inkColor = color.floor, power = 2) {
      const c = new THREE.Color();
      c.setHex(inkColor);
      const a = 1;
      const baseIndex = ((Math.floor(position.x) + 50) * 24) + (((Math.floor(position.z)) + 50) * 2400);
      
      wallPosition = []
      const x = Math.floor(position.x) + 50;
      const z = Math.floor(position.z) + 50;
      
      let range = power;
      
      let baseSize = 2400;
      let size = range;
      let index = 0;
      for(let diff = 24; size !== 0; diff += 24) {
        index = baseIndex - baseSize * size - diff;
        for (let i = index; i < index + (diff * 2); i += 4) {
          floor.colors[i + 0] = c.r;
          floor.colors[i + 1] = c.g;
          floor.colors[i + 2] = c.b;
          floor.colors[i + 3] = a;
        }        
        size--;
      }

      for(let diff = 24 * range; size !== 10; diff -= 24) {
        index = baseIndex + baseSize * size - diff;
        for (let i = index; i < index + (diff * 2); i += 4) {
          floor.colors[i + 0] = c.r;
          floor.colors[i + 1] = c.g;
          floor.colors[i + 2] = c.b;
          floor.colors[i + 3] = a;
        }

        size++;
      }
      floor.mesh.geometry.setAttribute('color', new THREE.Float32BufferAttribute(floor.colors, 4));
      floor.mesh.geometry.colorsNeedUpdate = true;

      // return wallPosition;
    }

    
    loadUI();
    showColor(player.color.ink);

    // TODO: 適切な記載場所を検討
    /* socket.io */
    
    let isReady = true;
    var socket = io();
    socket.on("login", data => {
      socket.id = data.id;
      for(const [key, value] of Object.entries(data.objects)) {
        const p = value.id
        const player = new Player({x: value.position.x, y: value.position.y, z: value.position.z}, colorList[value.color]);
        player.id = key;
        player.mesh.rotation.y = value.rotation;
        player.changeColor(colorList[value.color]);
        scene.add(player.mesh);
        objects.push(player);
      }

      player.changeColor(colorList[data.color]);
      showColor(player.color.ink);
      socket.emit('onStage', {
        color: player.color.index,
        position: player.mesh.position,
        rotation: player.mesh.rotation.y
      });
    
      socket.on("appear", (data) => {
        let p = data.object;
        const player = new Player({x: p.position.x, y: p.position.y, z: p.position.z}, colorList[p.color]);
        player.id = data.id
        player.mesh.rotation.y = p.rotation;
        scene.add(player.mesh);
        objects.push(player);
      });
      socket.on("weapon", (data) => {
        const p = objects.find(obj => obj.id === data.id);
        if (data.arm === "main") {
          const ball = new Ball(p);
          scene.add( ball.mesh );
          balls.push(ball);
        } else if (data.arm === "sub1") {      
          splash(p.mesh.position, p.color.splash);
        }
      });
      socket.on("start", (data) => {
        console.log(data)
        isReady = false;
        // ループの開始
        processing();
      });
      
      socket.on("finish", (data) => {
        console.log(data)
        isReady = true;
      });

    });

    // 各種ボタン連打・弾丸発射間隔の計測用変数
    const interval = {
      triger: 0,
      lTriger: 0,
      x: 0,
      lb: 0,
      rs: 0,
      rb: 0
    }

    // TODO: playerのみの操作，どこまできっちり分けるか
    function processing() {
      if(isReady) return;
      requestAnimationFrame( processing );

      let clone = player.mesh.clone();
      let oldInk = player.color.ink;
      
      // ゲームパッドが使えるときの処理
      const padList = navigator.getGamepads();
      if(padList[0]) {
        pad = padList[0];
        pressed.lButton = (pad.buttons[config.button.lb].pressed) ? true : false;
        pressed.rButton = (pad.buttons[config.button.rb].pressed) ? true : false;
        pressed.backButton = (pad.buttons[config.button.back].pressed) ? true : false;
        pressed.startButton = (pad.buttons[config.button.start].pressed) ? true : false;
        pressed.rTriger = (pad.buttons[config.button.rt].pressed) ? true : false;
        pressed.lTriger = (pad.buttons[config.button.lt].pressed) ? true : false;
        pressed.rStick = (pad.buttons[config.button.rStick].pressed) ? true : false;
        tilted.lStickV = (pad.axes[config.stick.leftY]) ? pad.axes[config.stick.leftY] : 0;
        tilted.rStickH = (pad.axes[config.stick.rightX]) ? pad.axes[config.stick.rightX] : 0;
      }
      const rt = document.querySelector('#rTriger')
      // ボールを投げる
      interval.triger--;
      if(interval.triger === 0) rt.classList.remove('cooldown');
      interval.rb--;
      if(pressed.rTriger) {
        if(interval.triger < 0) {
          if(weapon !== weaponMode.main) weapon = weaponMode.main;
          if(weapon === weaponMode.main && !isDiveMode) {
            shoot();
            interval.triger = 30; // 連射速度を制御
            rt.classList.add('cooldown');
          }
        }
        if(pressed.rButton) document.querySelector('#rButton').classList.remove('active');
      } else {
        if(pressed.rButton) {
          document.querySelector('#rButton').classList.add('active');
          if (interval.rb < 0) {
            if(weapon !== weaponMode.sub1) weapon = weaponMode.sub1;
            if(weapon === weaponMode.sub1) {
              subWeapon1();
              interval.rb = 30;
            }
          }
        } else {
          document.querySelector('#rButton').classList.remove('active');
        }
      }

      // 潜行
      if(pressed.lTriger) {
        if(interval.lTriger < 0 && isPlayerArea(player)) {
          document.querySelector('#dive').classList.add('active');
          player.mesh.position.y = -0.35;
          isDiveMode = true;
          console.log("dive start")
        } else if(isDiveMode && !isPlayerArea(player)) {
          isDiveMode = false;
          document.querySelector('#dive').classList.remove('active');
          document.querySelector('#dive').classList.add('penalty');
          interval.lTriger = 30; // 連射速度を制御
          player.mesh.position.y = floorY;
          
          console.log("dive over")
        }
      } else if(!isDiveMode) {
        interval.lTriger--;
      } else if (isDiveMode) { 
        isDiveMode = false;
        document.querySelector('#dive').classList.remove('active');
        interval.lTriger = 30; // 連射速度を制御
        if(interval.lTriger === 30)document.querySelector('#dive').classList.add('cooldown');
        player.mesh.position.y = floorY;
        console.log('dive stop')
      }

      if(interval.lTriger === 0) {
        const ui = document.querySelector('#dive');
        ui.classList.remove('cooldown');
        ui.classList.remove('penalty');
      }

      // 移動　TODO: 撃っている間は動きを鈍らせてもいいかもね
      if(tilted.lStickV < -0.3 ) {
        let speed = 0.1 * tilted.lStickV;
        if (isDiveMode) speed *= 2;
        player.move(speed);
        document.querySelector('#lStick').classList.add("active");
      } else if(tilted.lStickV > 0.3) {
        let speed = 0.1 * tilted.lStickV;
        if (isDiveMode) speed *= 2;
        player.move(speed);
        document.querySelector('#lStick').classList.add("active");
      } else {
        document.querySelector('#lStick').classList.remove("active");
      }
      
      if(tilted.rStickH < -0.3 || 0.3 < tilted.rStickH) {
        document.querySelector('#rStick').classList.add("active");
        player.roll(tilted.rStickH);
      } else {
        document.querySelector('#rStick').classList.remove("active");
      }

      // 視点変更
      interval.rs--;
      if(pressed.rStick) {
        if (interval.rs < 0) {
          interval.rs = 20;
          currentState = (currentState + 1) % 3;
          setCamera(currentState);
        }
      }

      // 色変更 
      interval.lb--;
      if(pressed.lButton) {
        if (interval.lb < 0) {
          interval.lb = 30;

          colorIndex = (colorIndex + 1) % 4;
          player.changeColor(colorList[colorIndex]);
          showColor(player.color.ink)
        }
      }      
      
      // 床の範囲を越えたら重力の影響を受けます。
      if(player.mesh.position.x < -50 || 50 < player.mesh.position.x || player.mesh.position.z < -50 || 50 < player.mesh.position.z || player.mesh.position.y < -1) {
        player.mesh.position.y -= 0.98;

        if(player.mesh.position.y < -500) player.mesh.position.set(0, floorY, 0);
      }
      

      player.setBounds();
      // 壁との接触は現在は自プレイヤーのもののみ処理する
      let surroundCubes = getSurroundCubes(player.mesh.position.x, player.mesh.position.z);
      
      surroundCubes.forEach(cube => { // 一つ一つのキューブを取り出して，
        // Step.6 衝突の検知 cube.collision(player);
        const result = cube.collision(player);

        if (result.isHit) {
          const padList = navigator.getGamepads();
          if (padList[0]) {
            padList[0].vibrationActuator.playEffect('dual-rumble', {
              startDelay: 0,
              // duration: 30, // この振動の間隔，どこまでパフォーマンスに影響する？
              weakMagnitude: 1.0,
              strongMagnitude: 1.0,
            });
          }
          
          // ぶつかったらしばらく玉が撃てないように
          interval.triger = 20;
          interval.rb = 20;
          
          if (result.color !== color.wall) {
            splash(cube.position, result.color.splash);
          }
        }
      });

      balls.forEach((ball, i) =>{
        if(currentState === viewMode.firstPerson) {
          ball.mesh.material.transparent = true;
          ball.mesh.material.opacity = 0.5;
        } else {
          ball.mesh.material.transparent = false;
          ball.mesh.material.opacity = 1.0;
        }
        ball.move();
        surroundCubes = [];
        surroundCubes = getSurroundCubes(ball.mesh.position.x, ball.mesh.position.z);
        surroundCubes.forEach(cube => {
          if(ball.collision(cube)) {
            cube.mesh.material.color.setHex(ball.color.ink);
            this.isNotHit = false;
            splash(cube.mesh.position, ball.color.splash);
          }
        });

        // TODO: ここから最適化を再検討
        // 弾とプレイヤーの接触
        objects.forEach(obj => {
          if(obj.collision(ball)) {
            splash(obj.mesh.position, ball.color.splash);
          }
        });
        if(player.collision(ball)) {
          colorIndex = ball.color.index;
          showColor(ball.color.ink)
          splash(player.mesh.position, ball.color.splash);
        }


        if(ball.collision(floor)) {
          splash(ball.mesh.position, ball.color.splash);
        }
        
        if(!ball.isNotHit) {
          balls.splice(i, 1);
          scene.remove(ball.mesh);
          ball.mesh.material.dispose();
          ball.mesh.geometry.dispose();
        }
      });
      balls = balls.filter(b => b.isNotHit);

      // プレイヤー情報に変更があれば，ここで位置情報をサーバへ送信：（位置・回転・色）
      if(!player.equals(clone, oldInk)) {
        let newData = {color: player.color.index, position: player.mesh.position, rotation: player.mesh.rotation.y};
        if(socket.id) socket.emit("move", newData);
      }
    }

    socket.on("move", data => {
      const value = data[socket.id];
      player.mesh.position.set(value.position.x, value.position.y, value.position.z);
      player.mesh.rotation.y = value.rotation;
      

      switch(currentState) {
        case viewMode.birdsEye:
          camera.position.x = player.mesh.position.x;
          camera.position.z = player.mesh.position.z;
          break;
          case viewMode.thirdPerson:
          camera.rotation.y = player.mesh.rotation.y
          
          const rad = -player.mesh.rotation.y + (90 * Math.PI / 180);
          camera.position.y = player.mesh.position.y + 2;
          camera.position.x = player.mesh.position.x + cameraDistance * Math.cos(rad);
          camera.position.z = player.mesh.position.z + cameraDistance * Math.sin(rad);
          
          break;
        case viewMode.firstPerson:
          camera.position.x = player.mesh.position.x;
          camera.position.z = player.mesh.position.z;
          if (isDiveMode) camera.position.y = 0.1;
          else camera.position.y = player.mesh.position.y;
          
          camera.rotation.y = player.mesh.rotation.y;
          break;
      }

      // TODO: 記述位置，内容ともに要検討
      objects.forEach((obj, i) => {
        if (obj.id !== socket.id) { // プレイヤー以外の場合実行
          const value = data[obj.id];
          if (value) {
            obj.mesh.position.set(value.position.x, value.position.y, value.position.z);
            obj.mesh.rotation.y = value.rotation;
            obj.changeColor(colorList[value.color]);
            //　INFO: ここで色情報を送信しない場合は，ブラウザをバックグラウンドに回されるずれが生じる。現在は許容する方針。
          } else {
            objects.splice(i, 1);
            scene.remove(obj.mesh);
            obj.mesh.material.dispose();
            obj.mesh.geometry.dispose();
          }
        }
      })
                
      mapCamera.position.x = player.mesh.position.x;
      mapCamera.position.z = player.mesh.position.z;
      renderer.render( scene, camera );
      mapRenderer.render( scene, mapCamera);
    });

    function getSurroundCubes(objX, objZ) {
      const x = Math.floor(objX + 50);
      const z = Math.floor(objZ + 50);
      const surrounds = [];
      for(let i = z - 4; i < z + 4; i++) {
        for(let j = x - 4; j < x + 4; j++) {
          if (0 <= i && i < cubes.length && 0 <= j && j < cubes[0].length && cubes[i][j]) surrounds.push(cubes[i][j]);
        }
      }
      return surrounds;
    }
  
    function shoot() {
      const ball = new Ball(player); // オリジナルのCubeを作る呪文
      scene.add( ball.mesh );
      balls.push(ball);

      socket.emit('weapon', 'main');
      // player.translateZ(0.3); // 反動で後退（酔いそうなので削除）
    }
    function subWeapon1() {
      splash(player.mesh.position, player.color.splash);
      socket.emit('weapon', 'sub1');
    }

    function setCamera(state) {
      let title = document.querySelector("#view h2");
      switch(state) {
        case viewMode.birdsEye:
          title.innerHTML = "Bird's Eye";
          camera.position.y = cameraBaseHeight;
          camera.rotation.y = 0;
          camera.position.x = player.mesh.position.x;
          camera.position.z = player.mesh.position.z;
          camera.lookAt(player.mesh.position.x, player.mesh.position.y, player.mesh.position.z);
          break;
        case viewMode.thirdPerson:
          title.innerHTML = "Third Person";
          camera.rotation.y = player.mesh.rotation.y;
          const rad = -player.mesh.rotation.y + (90 * Math.PI / 180);
          camera.position.y = player.mesh.position.y + 2;
          camera.position.x = player.mesh.position.x + Math.abs(cameraDistance * Math.cos(rad));
          camera.position.z = player.mesh.position.z + Math.abs(cameraDistance * Math.sin(rad));
          
          camera.lookAt(player.mesh.position.x, player.mesh.position.y + 2, player.mesh.position.z - 2);
          break;
        case viewMode.firstPerson:
          title.innerHTML = "First Person";
          camera.position.y = player.mesh.position.y;
          camera.position.z = player.mesh.position.z;
          camera.rotation.y = player.mesh.rotation.y;
          camera.lookAt(player.mesh.position.x, floorY, player.mesh.position.z - 1);
          if (isDiveMode) {
            camera.position.y = 0.1; // カメラの位置を確認潜っているときは深く
            camera.lookAt(player.mesh.position.x, 0.1, player.mesh.position.z - 1); 
          }
          break;
      }
    } 

    function showColor(inkColor) {
      document.querySelector('#color h2 span.color').innerHTML = inkColor.toString(16);
      document.querySelector('#color').style.color = "#" + inkColor.toString(16); 
    }


    window.addEventListener('keydown', event => {
      switch(event.key) {
        case 'w':
          tilted.lStickV = -1;
          break;
        case 's':
          tilted.lStickV = 1;
          break;
        case 'a':
          tilted.rStickH = -1;
          break;
        case 'd':
          tilted.rStickH = 1;
          break;
        case ' ':
          pressed.rTriger = true;
          break;
        case 'j':
          pressed.rButton = true;
          break;
        case 'h':
          pressed.lButton = true;
          break;
        case 'k':
          pressed.lTriger = true;
          break;
        case 'v':
          pressed.rStick = true;
          break;
        case 'b':
          pressed.bButton = true;
          break;
      }
    }, false);

    window.addEventListener('keyup', event => {
      switch(event.key) {
        case 'w':
          tilted.lStickV = 0;
          break;
        case 's':
          tilted.lStickV = 0;
          break;
        case 'a':
          tilted.rStickH = 0;
          break;
        case 'd':
          tilted.rStickH = 0;
          break;
        case ' ':
          pressed.rTriger = false;
          break;
        case 'j':
          pressed.rButton = false;
          break;
        case 'h':
          pressed.lButton = false;
          break;
        case 'k':
          pressed.lTriger = false;
          break;
        case 'v':
          pressed.rStick = false;
          break;
        case 'b':
          pressed.bButton = false;
          break;
      }
    }, false); 



    /* ゲームパッド関連 */
    // 接続処理
    window.addEventListener("gamepadconnected", function(e) {
      console.log("Gamepad connected at index %d: %s. %d buttons, %d axes.",
        e.gamepad.index, e.gamepad.id,
        e.gamepad.buttons.length, e.gamepad.axes.length);
    });

    // 切断処理
    window.addEventListener("gamepaddisconnected", function(e) {
      console.log("Gamepad disconnected from index %d: %s",
        e.gamepad.index, e.gamepad.id);
    });

  </script>
</body>
</html>