* {
  margin: 0;
  user-select: none;
}

#map {
  position: absolute;
  width: 230px;
  height: 230px;
  top: 20px;
  right: 20px;
  background-color: #646464;
  border: solid 5px #000000;
  user-select: none;
}

/* UI parts */
.ui-label {
  width: 200px;
  position: absolute;
  padding: 10px;
  border: 5px solid #353535;
  color: #353535;
  font-size: 18px;
  font-weight: bold;
  background-color: #eee;
  text-align: center;
  user-select: none;
  pointer-events: none;
}

#rTriger {
  /* transform:skewY(-15deg);  */
  position: absolute;
  right: 20px;
  bottom: 130px;
}
#rTriger.active {
  background-color: #fa776d;
}
#rTriger.cooldown {
  animation: rtCooldown 1.5s;
}
@keyframes rtCooldown {
  0% { background: #fa776d; }
  100% { background: eee; }
}

#rButton{
  /* transform:skewY(-15deg);  */
  right: 20px;
  bottom: 20px;
}
#rButton.active {
  background-color: #fc9d9a;
}
#rButton.cooldown {
  animation: rbCooldown 1.5s;
}
@keyframes rbCooldown {
  0% { background: #fc9d9a; }
  100% { background: eee; }
}

#dive {
  /* transform:skewY(15deg);  */
  left: 20px;
  bottom: 20px;
}
#dive.active {
  background-color: #5cc0ef;
}
#dive.penalty {
  background-color: #ff0000;
}
#dive.cooldown {
  animation: diveCooldown 1.5s;
}
@keyframes diveCooldown {
  0% { background: #5cc0ef; }
  100% { background: eee; }
}

#color{ 
  left: 20px;
  top: 130px;
  width: 230px;
  color: #6464ff;
}

#timer {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  
}

#lStick{
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#lStick.active {
  background-color: #37ab9d;

}

#rStick{
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#rStick.active {
  background-color: #ffc042;
}

#view{
  /* transform:skewY(15deg);  */
  top: 20px;
  left: 20px;
  width: 230px;
}

#pumpkin {
  bottom: 20px;
  width: 100%;
  position: absolute;
  padding: 10px;
  text-align: center;
  user-select: none;
  pointer-events: none;
}

#pumpkin.charging {
  display: none;
}

#pumpkin img{
  width: 100px;
  height: 100px;
}

#timeDisplay {
  pointer-events: painted;
}

.timer {
  top: 20px;
  right: 20px;
  
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-data {
  position: absolute;
  top: 20px;
  left: 20px;
  list-style: none;
}

.team-data-label {
  position: relative;
  margin: 20px;
}

